body {
}

input[type=text] {
   border: none;
   font-size: 1.5em;
   width: 70%;
   border-bottom: 1px solid black;
   margin-bottom: 10px;
}

input[type=password] {
   border: none;
   font-size: 1.5em;
   width: 70%;
   border-bottom: 1px solid black;
   margin-bottom: 10px;
}
input[type=checkbox]{
}

button {
    border: none;
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
button:hover {
    background-color: #111;
    border: 1px solid blue;
    padding: 13px 15px;
}

h2 {
   color: white;
   text-align: center;
   background-color: #333;
   font-size: 2em;
   border-bottom: 2px solid black;
   margin: 0px;
   margin-bottom: 10px;
}
